html {
  background: #F2F2F2;
}
#app {
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'PingFang SC', 'Noto Sans', 'Noto Sans CJK SC', 'Microsoft YaHei', '微软雅黑', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
#container {
  position: absolute;
  top: 44px;
}
hr {
  border: 1px solid #fff;
}
ul {
  list-style-type: none;
  padding: 0;
}
/*
  header
*/
/*
  button style
*/
/*
  cell border-color
*/
.text-left {
  text-align: left;
}
.pl10 {
  padding-left: 10px;
}
.ml10 {
  margin-left: 10px;
}
.inline-block {
  display: inline-block;
}
.hide {
  display: none !important;
}
.animated {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@keyframes blink {
  0%,
  100% {
    color: #007aff;
  }
  50% {
    color: #fff;
  }
}
.blink {
  animation: blink 1s infinite steps(1, start);
}
.loading-spinner {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.loading-spinner .loading-text {
  font-size: 15px;
  color: #007aff;
}
.loading-spinner span {
  display: inline-block;
}
.mintui {
  font-size: 20px;
}
.mint-cell-wrapper {
  background-image: none;
  border-bottom: 1px solid #E4E4E4;
  padding: 0;
}
.mint-indexsection-index {
  background-color: #F5F5F5;
  text-align: left;
  color: #666;
}
.mint-indexlist-navitem {
  color: #999;
}
.mint-switch-input:checked + .mint-switch-core {
  background: #007aff;
  opacity: 0.7;
  border-color: #007aff;
}
.mint-switch-input:checked + .mint-switch-core:after {
  background: #007aff;
}
.mint-button--primary {
  background: #007aff;
}
.mint-switch .mint-switch-core {
  height: 14px;
  position: relative;
  width: 45px;
}
.mint-switch .mint-switch-core:before {
  height: 12px;
  width: 41px;
  background: #E4E4E4;
}
.mint-switch .mint-switch-core:after {
  height: 24px;
  width: 24px;
  position: absolute;
  top: -7px;
  left: -1px;
  background: #D8D8D8;
}
.mint-indicator-mask {
  z-index: 99;
}
.mint-msgbox-input input {
  background: #f2f2f2;
  height: 30px;
  border: none !important;
  color: #4A4A4A;
  -user-select: text;
}
.mint-msgbox {
  border-radius: 12px;
}
.mint-msgbox-confirm {
  color: #007aff;
  font-size: 16px;
}
.mint-msgbox-content {
  border-color: #E4E4E4;
}
.mint-msgbox-cancel {
  border-color: #E4E4E4;
  color: #4A4A4A;
  font-size: 16px;
}
.mint-msgbox-title {
  font-size: 18px;
  color: #2A2A2A;
}
.mint-msgbox-message {
  font-size: 15px;
  color: #4A4A4A;
  text-align: center;
  line-height: 21px;
}
.mint-header-title {
  font-size: 16px;
}
.mint-toast {
  z-index: 10000;
}
.router-view {
  width: 100%;
  background: #F2F2F2;
}
.ykb-out-enter-active,
.ykb-out-leave-active,
.ykb-in-enter-active,
.ykb-in-leave-active {
  will-change: transform;
  transition: all 500ms;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  perspective: 1000;
}
.ykb-out-enter {
  opacity: 0;
  transform: translate3d(-70%, 0, 0);
}
.ykb-out-leave-active {
  opacity: 0;
  transform: translate3d(70%, 0, 0);
}
.ykb-in-enter {
  opacity: 0;
  transform: translate3d(70%, 0, 0);
}
.ykb-in-leave-active {
  opacity: 0;
  transform: translate3d(-70%, 0, 0);
}
.enhence-passenger-content {
  width: 100%;
  background: #fff;
  overflow: hidden;
  height: 100%;
}
.enhence-passenger-content > .mint-popup-right {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 2224 !important;
  background: #F2F2F2;
  flex-direction: column;
}
.enhence-passenger-content > .mint-popup-right .header-wraper {
  height: 40px;
}
.enhence-passenger-content > .mint-popup-right .header-wraper .header {
  width: 100%;
  height: 40px;
  background-color: #007aff;
  color: #fff;
  line-height: 40px;
  text-align: center;
}
.enhence-passenger-content > .mint-popup-right .header-wraper .header .title {
  font-size: 16px;
  margin-right: 30px;
}
.enhence-passenger-content > .mint-popup-right .header-wraper .header .back-icon {
  float: left;
  margin-left: 10px;
  font-size: 14px;
}
.enhence-passenger-content > .mint-popup-right .header-wraper .header .back-icon img {
  vertical-align: middle;
}
.enhence-passenger-content > .mint-popup-right .tab-bar {
  height: 40px;
  line-height: 40px;
  background: #fff;
}
.enhence-passenger-content > .mint-popup-right .tab-bar > span {
  height: 38px;
  text-align: center;
  width: 50%;
  display: inline-block;
  border-bottom: 2px solid #fff;
  font-size: 14px;
  color: #6F6F6F;
}
.enhence-passenger-content > .mint-popup-right .tab-bar > span.active {
  color: #007aff;
  border-bottom: 2px solid #007aff;
}
.enhence-passenger-content > .mint-popup-right .search-wrap {
  background: #F5F5F5;
  height: 44px;
  width: 100%;
}
.enhence-passenger-content > .mint-popup-right .search-wrap .search-input-box {
  display: flex;
  justify-content: flex-start;
  height: 28px;
  background: #fff;
  width: 96%;
  margin: 8px auto;
}
.enhence-passenger-content > .mint-popup-right .search-wrap .search-input-box > span {
  width: 30px;
}
.enhence-passenger-content > .mint-popup-right .search-wrap .search-input-box > span img {
  margin-top: 6px;
}
.enhence-passenger-content > .mint-popup-right .search-wrap .search-input-box > input {
  width: 90%;
  outline: none;
  border: none;
  font-size: 13px;
  color: #2A2A2A;
}
.enhence-passenger-content > .mint-popup-right .search-by-button {
  height: 44px;
  line-height: 44px;
  background: #fff;
  border-bottom: 1px solid #E4E4E4;
  position: relative;
  font-size: 14px;
  color: #007aff;
}
.enhence-passenger-content > .mint-popup-right .search-by-button > span img {
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 5px;
}
.enhence-passenger-content > .mint-popup-right .search-by-button > img.entrance-icon {
  position: absolute;
  width: 8px;
  right: 17px;
  top: 17px;
}
.enhence-passenger-content > .mint-popup-right .tab-content {
  overflow: auto;
  /* 用于 android4+，或其他设备 */
  -webkit-overflow-scrolling: touch;
  /* 用于 ios5+ */
  overflow: scroll;
  background: #fff;
  width: 100%;
}
.enhence-passenger-content > .mint-popup-right .tab-content .inner-tab-content {
  padding: 0 2%;
}
.enhence-passenger-content > .mint-popup-right .search-result-container {
  overflow: auto;
  /* 用于 android4+，或其他设备 */
  -webkit-overflow-scrolling: touch;
  /* 用于 ios5+ */
  background: #fff;
}
.enhence-passenger-content > .mint-popup-right .search-result-container > ul {
  margin: 0;
}
.enhence-passenger-content > .mint-popup-right .search-result-container > ul li {
  border-bottom: 1px solid #E4E4E4;
}
.enhence-passenger-content > .mint-popup-right .search-result-container > ul li .person-container {
  height: 55px;
  display: flex;
  justify-content: flex-start;
}
.enhence-passenger-content > .mint-popup-right .search-result-container > ul li .person-container .check {
  width: 40px;
  height: 55px;
}
.enhence-passenger-content > .mint-popup-right .search-result-container > ul li .person-container .check img {
  margin-top: 18px;
}
.enhence-passenger-content > .mint-popup-right .search-result-container > ul li .person-container .user-info .top {
  height: 30px;
  line-height: 30px;
}
.enhence-passenger-content > .mint-popup-right .search-result-container > ul li .person-container .user-info .top .name {
  font-size: 16px;
  color: #2A2A2A;
}
.enhence-passenger-content > .mint-popup-right .search-result-container > ul li .person-container .user-info .top .phone {
  font-size: 13px;
  color: #999999;
}
.enhence-passenger-content > .mint-popup-right .search-result-container > ul li .person-container .user-info .position {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #999;
}
.enhence-passenger-content > .mint-popup-right .passenger-footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 44px;
  background: #F5F5F5;
  display: flex;
  justify-content: space-between;
  line-height: 44px;
}
.enhence-passenger-content > .mint-popup-right .passenger-footer > .choosed {
  font-size: 15px;
  margin-left: 10px;
  width: 80%;
  color: #2A2A2A;
  text-align: left;
}
.enhence-passenger-content > .mint-popup-right .passenger-footer > .choosed small {
  font-size: 15px;
  color: #888;
}
.enhence-passenger-content > .mint-popup-right .passenger-footer > .confirm {
  width: 71px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: #007aff;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  margin: 7px;
}
.enhence-passenger-content > .mint-popup-right .passenger-footer .fixed-background {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 44px;
  background: rgba(0, 0, 0, 0.5);
}
.enhence-passenger-content > .mint-popup-right .passenger-footer .fixed-background ul.choosed-user-list {
  background: #fff;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
}
.enhence-passenger-content > .mint-popup-right .passenger-footer .fixed-background ul.choosed-user-list li {
  display: flex;
  justify-content: flex-start;
  height: 55px;
  line-height: 55px;
  border-bottom: 1px solid #E4E4E4;
}
.enhence-passenger-content > .mint-popup-right .passenger-footer .fixed-background ul.choosed-user-list li span.delete {
  width: 40px;
}
.enhence-passenger-content > .mint-popup-right .passenger-footer .fixed-background ul.choosed-user-list li span.delete img {
  vertical-align: middle;
  margin-top: -3px;
}
.enhence-passenger-content > .mint-popup-right .passenger-footer .fixed-background ul.choosed-user-list li div.user {
  margin-left: 10px;
  text-align: left;
}
.enhence-passenger-content > .mint-popup-right .passenger-footer .fixed-background ul.choosed-user-list li div.user span.name {
  height: 30px;
  line-height: 30px;
  display: block;
  font-size: 14px;
  color: #2A2A2A;
}
.enhence-passenger-content > .mint-popup-right .passenger-footer .fixed-background ul.choosed-user-list li div.user span.name small {
  color: #999;
}
.enhence-passenger-content > .mint-popup-right .passenger-footer .fixed-background ul.choosed-user-list li div.user span.job {
  font-size: 13px;
  display: block;
  height: 22px;
  line-height: 22px;
  color: #999999;
}
.tree-view-content {
  background: #fff;
  overflow: scroll;
}
.tree-view-content .tree-view-list .center-box {
  margin: 0 auto;
}
.tree-view-content .tree-view-list .tree-department {
  height: 44px;
  line-height: 44px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E4E4E4;
}
.tree-view-content .tree-view-list .tree-department .department-name {
  font-size: 15px;
  color: #2A2A2A;
  width: 60%;
}
.tree-view-content .tree-view-list .tree-department .count-passengers {
  width: 35%;
  text-align: left;
}
.tree-view-content .tree-view-list .tree-department .span-icon {
  width: 20px;
  height: 44px;
}
.tree-view-content .tree-view-list .tree-department .span-icon img {
  vertical-align: middle;
}
.tree-view-content .tree-view-list .tree-expand ul {
  margin: 0;
}
.tree-view-content .tree-view-list .tree-expand ul li {
  border-bottom: 1px solid #E4E4E4;
}
.tree-view-content .tree-view-list .tree-expand ul li .person-container {
  height: 55px;
  display: flex;
  justify-content: flex-start;
}
.tree-view-content .tree-view-list .tree-expand ul li .person-container .check {
  width: 40px;
  height: 55px;
}
.tree-view-content .tree-view-list .tree-expand ul li .person-container .check img {
  margin-top: 18px;
}
.tree-view-content .tree-view-list .tree-expand ul li .person-container .user-info .top {
  height: 30px;
  line-height: 30px;
}
.tree-view-content .tree-view-list .tree-expand ul li .person-container .user-info .top .name {
  font-size: 16px;
  color: #2A2A2A;
}
.tree-view-content .tree-view-list .tree-expand ul li .person-container .user-info .top .phone {
  font-size: 13px;
  color: #999999;
}
.tree-view-content .tree-view-list .tree-expand ul li .person-container .user-info .position {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #999;
}
.list-view-content .user-list-item,
.outer-list-content .user-list-item {
  border-bottom: 1px solid #E4E4E4;
}
.list-view-content .user-list-item .person-container,
.outer-list-content .user-list-item .person-container {
  height: 55px;
  display: flex;
  justify-content: flex-start;
}
.list-view-content .user-list-item .person-container .check,
.outer-list-content .user-list-item .person-container .check {
  width: 40px;
  height: 55px;
}
.list-view-content .user-list-item .person-container .check img,
.outer-list-content .user-list-item .person-container .check img {
  margin-top: 18px;
}
.list-view-content .user-list-item .person-container .user-info,
.outer-list-content .user-list-item .person-container .user-info {
  width: 100%;
}
.list-view-content .user-list-item .person-container .user-info .top,
.outer-list-content .user-list-item .person-container .user-info .top {
  height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}
.list-view-content .user-list-item .person-container .user-info .top span:nth-of-type(1),
.outer-list-content .user-list-item .person-container .user-info .top span:nth-of-type(1) {
  width: 40%;
}
.list-view-content .user-list-item .person-container .user-info .top span:nth-of-type(2),
.outer-list-content .user-list-item .person-container .user-info .top span:nth-of-type(2) {
  width: 50%;
}
.list-view-content .user-list-item .person-container .user-info .top span:nth-of-type(3),
.outer-list-content .user-list-item .person-container .user-info .top span:nth-of-type(3) {
  width: 20%;
}
.list-view-content .user-list-item .person-container .user-info .top .name,
.outer-list-content .user-list-item .person-container .user-info .top .name {
  font-size: 16px;
  color: #2A2A2A;
}
.list-view-content .user-list-item .person-container .user-info .top .phone,
.outer-list-content .user-list-item .person-container .user-info .top .phone {
  font-size: 13px;
  color: #999999;
}
.list-view-content .user-list-item .person-container .user-info .position,
.outer-list-content .user-list-item .person-container .user-info .position {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #999;
}
.list-view-content .user-list-item .person-container .user-info .position .dep,
.outer-list-content .user-list-item .person-container .user-info .position .dep,
.list-view-content .user-list-item .person-container .user-info .position .job,
.outer-list-content .user-list-item .person-container .user-info .position .job {
  width: 48%;
  display: inline-block;
}
.outer-list-content .user-list-item .person-container .user-info .top {
  line-height: 55px;
  height: 55px;
}
.outer-list-content .user-list-item .person-container .user-info .top .edit {
  text-align: center;
}
.outer-list-content .fixed-background {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.outer-list-content .fixed-background > ul {
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
}
.outer-list-content .fixed-background > ul li {
  height: 40px;
  line-height: 40px;
  text-align: left;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #E4E4E4;
  font-size: 14px;
}
.outer-list-content .fixed-background > ul li span.check-icon img {
  vertical-align: middle;
  margin-top: -4px;
}
.outer-list-content .fixed-background > ul li:last-child {
  border-bottom: none;
}
