html {
  background: #F2F2F2;
}
#app {
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'PingFang SC', 'Noto Sans', 'Noto Sans CJK SC', 'Microsoft YaHei', '微软雅黑', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
#container {
  position: absolute;
  top: 44px;
}
hr {
  border: 1px solid #fff;
}
ul {
  list-style-type: none;
  padding: 0;
}
/*
  header
*/
/*
  button style
*/
/*
  cell border-color
*/
.text-left {
  text-align: left;
}
.pl10 {
  padding-left: 10px;
}
.ml10 {
  margin-left: 10px;
}
.inline-block {
  display: inline-block;
}
.hide {
  display: none !important;
}
.animated {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@keyframes blink {
  0%,
  100% {
    color: #007aff;
  }
  50% {
    color: #fff;
  }
}
.blink {
  animation: blink 1s infinite steps(1, start);
}
.loading-spinner {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.loading-spinner .loading-text {
  font-size: 15px;
  color: #007aff;
}
.loading-spinner span {
  display: inline-block;
}
.mintui {
  font-size: 20px;
}
.mint-cell-wrapper {
  background-image: none;
  border-bottom: 1px solid #E4E4E4;
  padding: 0;
}
.mint-indexsection-index {
  background-color: #F5F5F5;
  text-align: left;
  color: #666;
}
.mint-indexlist-navitem {
  color: #999;
}
.mint-switch-input:checked + .mint-switch-core {
  background: #007aff;
  opacity: 0.7;
  border-color: #007aff;
}
.mint-switch-input:checked + .mint-switch-core:after {
  background: #007aff;
}
.mint-button--primary {
  background: #007aff;
}
.mint-switch .mint-switch-core {
  height: 14px;
  position: relative;
  width: 45px;
}
.mint-switch .mint-switch-core:before {
  height: 12px;
  width: 41px;
  background: #E4E4E4;
}
.mint-switch .mint-switch-core:after {
  height: 24px;
  width: 24px;
  position: absolute;
  top: -7px;
  left: -1px;
  background: #D8D8D8;
}
.mint-indicator-mask {
  z-index: 99;
}
.mint-msgbox-input input {
  background: #f2f2f2;
  height: 30px;
  border: none !important;
  color: #4A4A4A;
  -user-select: text;
}
.mint-msgbox {
  border-radius: 12px;
}
.mint-msgbox-confirm {
  color: #007aff;
  font-size: 16px;
}
.mint-msgbox-content {
  border-color: #E4E4E4;
}
.mint-msgbox-cancel {
  border-color: #E4E4E4;
  color: #4A4A4A;
  font-size: 16px;
}
.mint-msgbox-title {
  font-size: 18px;
  color: #2A2A2A;
}
.mint-msgbox-message {
  font-size: 15px;
  color: #4A4A4A;
  text-align: center;
  line-height: 21px;
}
.mint-header-title {
  font-size: 16px;
}
.mint-toast {
  z-index: 10000;
}
.router-view {
  width: 100%;
  background: #F2F2F2;
}
.ykb-out-enter-active,
.ykb-out-leave-active,
.ykb-in-enter-active,
.ykb-in-leave-active {
  will-change: transform;
  transition: all 500ms;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  perspective: 1000;
}
.ykb-out-enter {
  opacity: 0;
  transform: translate3d(-70%, 0, 0);
}
.ykb-out-leave-active {
  opacity: 0;
  transform: translate3d(70%, 0, 0);
}
.ykb-in-enter {
  opacity: 0;
  transform: translate3d(70%, 0, 0);
}
.ykb-in-leave-active {
  opacity: 0;
  transform: translate3d(-70%, 0, 0);
}
.ykb-city-picker .citypicker-container {
  width: 100%;
  height: 100%;
  background: #F5F5F5;
}
.ykb-city-picker .citypicker-container .header-box {
  position: fixed;
  width: 100%;
  top: 0;
  height: 100px;
}
.ykb-city-picker .citypicker-container .header-box .header {
  width: 100%;
  height: 46px;
  display: flex;
  display: -webkit-flex;
  background-color: #007aff;
  color: #fff;
  line-height: 46px;
  text-align: center;
}
.ykb-city-picker .citypicker-container .header-box .header .back-icon {
  width: 30%;
  text-align: left;
  padding-left: 10px;
}
.ykb-city-picker .citypicker-container .header-box .header .back-icon img {
  vertical-align: middle;
}
.ykb-city-picker .citypicker-container .header-box .header .back-icon span {
  font-size: 14px;
}
.ykb-city-picker .citypicker-container .header-box .header span.title {
  width: 70%;
  text-align: left;
  padding-left: 14%;
}
.ykb-city-picker .citypicker-container .header-box .search-bar .ykb-input-search {
  padding: 2%;
}
.ykb-city-picker .citypicker-container .body {
  overflow: auto;
  over-flow: auto;
  /* winphone8和android4+ */
  -webkit-overflow-scrolling: touch;
  /* ios5+ */
  z-index: 1;
  margin-top: 96px;
  height: 100%;
}
.ykb-city-picker .citypicker-container .body section.dd,
.ykb-city-picker .citypicker-container .body section.recent-history,
.ykb-city-picker .citypicker-container .body section.current-city {
  background-color: #F5F5F5;
}
.ykb-city-picker .citypicker-container .body section.dd p.title-box,
.ykb-city-picker .citypicker-container .body section.recent-history p.title-box,
.ykb-city-picker .citypicker-container .body section.current-city p.title-box,
.ykb-city-picker .citypicker-container .body section.dd p.title-box-unactive,
.ykb-city-picker .citypicker-container .body section.recent-history p.title-box-unactive,
.ykb-city-picker .citypicker-container .body section.current-city p.title-box-unactive {
  margin: 0;
  text-align: left;
  height: 30px;
  line-height: 30px;
}
.ykb-city-picker .citypicker-container .body section.dd p.title-box span.title,
.ykb-city-picker .citypicker-container .body section.recent-history p.title-box span.title,
.ykb-city-picker .citypicker-container .body section.current-city p.title-box span.title,
.ykb-city-picker .citypicker-container .body section.dd p.title-box-unactive span.title,
.ykb-city-picker .citypicker-container .body section.recent-history p.title-box-unactive span.title,
.ykb-city-picker .citypicker-container .body section.current-city p.title-box-unactive span.title {
  color: #999999;
  font-size: 13px;
}
.ykb-city-picker .citypicker-container .body section.dd .city-container,
.ykb-city-picker .citypicker-container .body section.recent-history .city-container,
.ykb-city-picker .citypicker-container .body section.current-city .city-container {
  padding: 0;
  margin: 0;
}
.ykb-city-picker .citypicker-container .body section.dd .city-container li,
.ykb-city-picker .citypicker-container .body section.recent-history .city-container li,
.ykb-city-picker .citypicker-container .body section.current-city .city-container li {
  width: 22%;
  height: 32px;
  line-height: 30px;
  text-align: center;
  margin: 2px 0;
  border: 1px solid #efefef;
  color: #000;
  background: #fff;
  font-size: 14px;
  margin-left: 2%;
  border-radius: 4px;
}
.ykb-city-picker .citypicker-container .body section.dd .city-container li.active,
.ykb-city-picker .citypicker-container .body section.recent-history .city-container li.active,
.ykb-city-picker .citypicker-container .body section.current-city .city-container li.active {
  color: #007aff;
}
.ykb-city-picker .citypicker-container .body section.dd .city-container.flex,
.ykb-city-picker .citypicker-container .body section.recent-history .city-container.flex,
.ykb-city-picker .citypicker-container .body section.current-city .city-container.flex {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  display: -webkit-flex;
  -webkit-justify-content: flex-start;
  -webkit-flex-flow: row wrap;
}
.ykb-city-picker .citypicker-container .body section.dd .city-container.float,
.ykb-city-picker .citypicker-container .body section.recent-history .city-container.float,
.ykb-city-picker .citypicker-container .body section.current-city .city-container.float {
  overflow: hidden;
  clear: both;
}
.ykb-city-picker .citypicker-container .body section.dd .city-container.float li,
.ykb-city-picker .citypicker-container .body section.recent-history .city-container.float li,
.ykb-city-picker .citypicker-container .body section.current-city .city-container.float li {
  float: left;
}
.ykb-city-picker .citypicker-container .body section.current-city {
  margin-top: 20px;
}
.ykb-city-picker .citypicker-container .body section.current-city p.title-box {
  background: #fff;
  height: 35px;
  line-height: 35px;
  width: 96%;
  margin: 0 auto;
  border-radius: 5px;
}
.ykb-city-picker .citypicker-container .body section.current-city p.title-box img {
  vertical-align: middle;
  margin-left: 8px;
}
.ykb-city-picker .citypicker-container .body section.current-city p.title-box span {
  color: #007aff !important;
  margin-left: 1px;
}
.ykb-city-picker .citypicker-container .body section.alphabeta {
  background: #F5F5F5;
}
.ykb-city-picker .citypicker-container .body section.alphabeta p.title-box {
  background: #F5F5F5;
  color: #999999;
  font-size: 13px;
  height: 35px;
  line-height: 35px;
  margin: 0 auto;
  text-align: left;
}
.ykb-city-picker .citypicker-container .body section.alphabeta ul {
  padding: 0;
  margin: 0;
}
.ykb-city-picker .citypicker-container .body section.alphabeta ul li {
  width: 17.5%;
  height: 32px;
  line-height: 30px;
  text-align: center;
  margin: 2px 3px;
  border: 1px solid #E4E4E4;
  color: #000;
  font-size: 14px;
  background: #fff;
  border-radius: 4px;
}
.ykb-city-picker .citypicker-container .body section.alphabeta ul li.active {
  background: #007aff;
  color: #fff;
}
.ykb-city-picker .citypicker-container .body section.alphabeta ul.flex {
  flex-flow: row wrap;
  display: flex;
  justify-content: flex-start;
  display: -webkit-flex;
  -webkit-justify-content: flex-start;
  -webkit-flex-flow: row wrap;
}
.ykb-city-picker .citypicker-container .body section.alphabeta ul.float {
  overflow: hidden;
  clear: both;
}
.ykb-city-picker .citypicker-container .body section.alphabeta ul.float li {
  float: left;
}
.ykb-city-picker .mint-popup-right {
  width: 100%;
  height: 100%;
}
